<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add key="LIMITE_EQUIPOS" value="0" />
		<add key="LIMITE_AGENDAS" value="40" />
		<add key="FECHA_MAXIMA_AGENDAS" value="20210228" />
		<add key="PASS_APP" value="4204061" />
		<add key="MENSAJE_AGENDA" value="Recuerda que antes de iniciar tu clase debes marcar asistencia ingresando a " />
		<add key="MAIL_LOG_ERRORS" value="reporteapiteams@inlearning.pe" />
		<!--MUY IMPORTANTE-->
		<!--Se debe configurar este parametro ya que solo se incluira en el TEAMS la sede marcada-->
		<!--Ademas de que el parametro EsTeams de la tabla PERIODO debe estar en True-->
		<!--Zegel-->
		<!--<add key="SEDE" value="VI" />-->
		<!--IDAT-->
		<add key="SEDE" value="WI,SV,AP,AT,CH,IV,LN,PI,PT,SL,SM" />
		<!--<add key="SEDE" value="WI,LN,SL,SM,CH,AT,PI,SV,SC,PT,LM,AP,VV,IV,VC" />-->
		<!--CA-->
		<!--<add key="SEDE" value="VT" />-->
		<!--ITS-->
		<!--<add key="SEDE" value="IT" />-->
		<!--CDI-->
		<!--<add key="SEDE" value="CD" />-->
		<!--MUY IMPORTANTE-->
		<!--Zegel-->
		<!--<add key="SUBJECTAGENDA" value="https://eva.zegelipae.edu.pe" />
    <add key="EMPRESA" value="ZegelIPAE" />
    <add key="URL_REDIRECT" value="https://www.zegelipae.edu.pe" />
    <add key="DOMINIO" value="@zegelipae.pe" />
    <add key="ALT_DOMINIO" value="@zegelipae.pe" />
    <add key="AND_DOMINIO" value="@zegelipae.pe" />-->
		<!--IDAT-->
		<add key="SUBJECTAGENDA" value="https://eva.idat.edu.pe" />
		<add key="EMPRESA" value="IDAT" />
		<add key="URL_REDIRECT" value="https://www.idat.pe" />
		<add key="DOMINIO" value="@idat.pe" />
		<add key="ALT_DOMINIO" value="@idat.pe" />
		<add key="AND_DOMINIO" value="@idat.pe" />
		<!--CA-->
		<!--<add key="SUBJECTAGENDA" value="https://eva.corrientealterna.edu.pe" />
    <add key="EMPRESA" value="Corriente Alterna" />
    <add key="URL_REDIRECT" value="https://www.corrientealterna.edu.pe" />
    <add key="DOMINIO" value="@corrientealterna.edu.pe" />
    <add key="ALT_DOMINIO" value="@corrientealterna.edu.pe" />
    <add key="AND_DOMINIO" value="@corrientealterna.edu.pe" />-->
		<!--ITS-->
		<!--<add key="SUBJECTAGENDA" value="https://eva.its.edu.pe" />
    <add key="EMPRESA" value="ITS" />
    <add key="URL_REDIRECT" value="https://www.its.edu.pe" />
    <add key="DOMINIO" value="@its.edu.pe" />
    <add key="ALT_DOMINIO" value="@its.edu.pe" />
    <add key="AND_DOMINIO" value="@its.edu.pe" />-->
		<!--CDI-->
		<!--<add key="SUBJECTAGENDA" value="https://eva.centrodelaimagen.pe" />
    <add key="EMPRESA" value="CDI" />
    <add key="URL_REDIRECT" value="https://www.centrodelaimagen.pe" />
    <add key="DOMINIO" value="@centrodelaimagen.pe" />
    <add key="ALT_DOMINIO" value="@centrodelaimagen.pe" />
    <add key="AND_DOMINIO" value="@centrodelaimagen.pe" />-->



		<add key="UnidadNegocio" value="01" />
		<add key="UnidadAcademica" value="01,57" />
		<add key="Periodo" value="2020-II,2020-IIIC,2020-IIB,2020-IIIE,2021-ID,2021-IA,2021-IE,2021-I" />
		<add key="CREARTEAMS" value="true" />
		<!--Crear equipos-->
		<add key="ACTUALIZARTEAMS" value="true" />
		<!--Actualizar miembros-->
		<add key="CREARAGENDAS" value="true" />
		<!--Crear agenda-->
		<add key="AUTOMATICO" value="true" />
		<add key="ACTIVARAUTOMATICO" value="true" />
		<add key="CHECKTEAMS" value="false" />
		<add key="REGULARIZARAGENDAS" value="true" />
		<add key="ACTUALIZAPROP" value="false" />
	</appSettings>
	<connectionStrings>
		<!--Zegel-->
		<!--<add name="ConnectionBD" connectionString="YA+DPYPg2aK1PS+7blrB7oiLlV/isOAjvaTxabto4jC8CqDBzMHsdJ0deLlRoAVA0dz8IYQdfzRxBvuA4N5trCT7fI7T05myerVc/0YHn3N7x5hwmV02r6BkAaQTuxS5pZn3Qu69vB8NYVysn2ubalDm+gxBmO9o" providerName="System.Data.SqlClient" />-->
		<!--IDAT-->
		<add name="ConnectionBD" connectionString="YA+DPYPg2aK1PS+7blrB7ibN7rsDPJEmSMPjXKXd6hSPPuUmWvhmJMsNqPzMiCsMomwaDSLc+9pIXzJJCCK3O2KuU/7TxSwpjg7tYKt+4zcjAaAqujn63AVp4/NlqrYLGco9MH5CMSYVUvdr9fjAcrpF2NyN+qAlZYuGKiEPnf0=" providerName="System.Data.SqlClient" />
		<!--CA-->
		<!--<add name="ConnectionBD" connectionString="YA+DPYPg2aK1PS+7blrB7m2DU8uP6acmhX3QRkibDcslkJ0ijXIN/YGEXWAuZP/8wy6dQ+m623UfdKOeRDJSx/2VLqDwNzBRDYlVaPeQtH2JhoChjtiythrM5OMzkJ9bScmFl0h46mJ1CBYmCksbl6x0CU1w22Kp" providerName="System.Data.SqlClient" />-->
		<!--ITS-->
		<!--<add name="ConnectionBD" connectionString="YA+DPYPg2aK1PS+7blrB7oiLlV/isOAjvaTxabto4jC8CqDBzMHsdJ0deLlRoAVA0dz8IYQdfzRxBvuA4N5trCT7fI7T05myerVc/0YHn3N7x5hwmV02r6BkAaQTuxS5pZn3Qu69vB8NYVysn2ubalDm+gxBmO9o" providerName="System.Data.SqlClient" />-->
		<!--CDI-->
		<!--<add name="ConnectionBD" connectionString="YA+DPYPg2aK1PS+7blrB7m2DU8uP6acmhX3QRkibDcslkJ0ijXIN/YGEXWAuZP/8wy6dQ+m623UfdKOeRDJSx/2VLqDwNzBRDYlVaPeQtH2JhoChjtiythrM5OMzkJ9bScmFl0h46mJ1CBYmCksbl6x0CU1w22Kp" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<log4net>
		<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="INFO" />
				<foreColor value="White" />
				<backColor value="Red, HighIntensity" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %message%newline" />
			</layout>
		</appender>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="ApiTeams.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<datePattern value="yyyyMMdd-HHmm" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="INFO" />
			<appender-ref ref="ColoredConsoleAppender" />
			<appender-ref ref="RollingFileAppender" />
		</root>
	</log4net>
	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\tmp\log4net.txt" />
			</listeners>
		</trace>
	</system.diagnostics>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.14.0.0" newVersion="1.14.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.29.0.0" newVersion="4.29.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Graph.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
