{
  auto_https off
}

https://teams.zegel.edu.pe {
  tls ./teams.zegel.edu.pe+9.pem ./teams.zegel.edu.pe+9-key.pem
  reverse_proxy localhost:5173
}

https://apiteams.zegel.edu.pe {
  tls ./teams.zegel.edu.pe+9.pem ./teams.zegel.edu.pe+9-key.pem
  reverse_proxy localhost:5000
}

https://teams.idat.edu.pe {
  tls ./teams.zegel.edu.pe+9.pem ./teams.zegel.edu.pe+9-key.pem
  reverse_proxy localhost:5173
}

https://apiteams.idat.edu.pe {
  tls ./teams.zegel.edu.pe+9.pem ./teams.zegel.edu.pe+9-key.pem
  reverse_proxy localhost:5000
}

https://teams.corrientealterna.edu.pe {
  tls ./teams.zegel.edu.pe+9.pem ./teams.zegel.edu.pe+9-key.pem
  reverse_proxy localhost:5173
}

https://apiteams.corrientealterna.edu.pe {
  tls ./teams.zegel.edu.pe+9.pem ./teams.zegel.edu.pe+9-key.pem
  reverse_proxy localhost:5000
}

https://teams.its.edu.pe {
  tls ./teams.zegel.edu.pe+9.pem ./teams.zegel.edu.pe+9-key.pem
  reverse_proxy localhost:5173
}

https://apiteams.its.edu.pe {
  tls ./teams.zegel.edu.pe+9.pem ./teams.zegel.edu.pe+9-key.pem
  reverse_proxy localhost:5000
}

https://teams.centrodelaimagen.pe {
  tls ./teams.zegel.edu.pe+9.pem ./teams.zegel.edu.pe+9-key.pem
  reverse_proxy localhost:5173
}

https://apiteams.centrodelaimagen.pe {
  tls ./teams.zegel.edu.pe+9.pem ./teams.zegel.edu.pe+9-key.pem
  reverse_proxy localhost:5000
}
